<section class="contenedor__form" id="contacto" data-dark>
  <h2 class="contenedor__form--h2">Contactame</h2>
  <div class="contenedor__input--div">
    <h2 class="h2__input">Espero tu mensaje</h2>
    <form
      class="contenedor__input"
      method="post"
      action="/correo.php"
      data-netlify="true"
    >
      <input
        class="form__input"
        type="text"
        name="name"
        autocomplete="off"
        placeholder="Nombre"
      />
      <input
        class="form__input"
        type="email"
        name="email"
        autocomplete="off"
        placeholder="Email"
      />
      <input
        class="form__input"
        type="text"
        name="asunto"
        autocomplete="off"
        placeholder="Asunto"
      />
      <textarea
        class="form__input"
        name="textarea"
        rows="9"
        required="true"
        placeholder="Mensaje"></textarea>
      <input class="form__input boton__enviar" type="submit" name="enviar" />
    </form>
  </div>
</section>
