<section class="contenedor__form" id="contacto" data-dark>
  <h2 class="contenedor__form--h2">Contactame</h2>
  <div class="contenedor__input--div">
    <h2 class="h2__input">Espero tu mensaje</h2>
    <form class="contenedor__input" method="POST" data-netlify="true">
      <input
        class="form__input"
        type="text"
        name="name"
        autocomplete="off"
        placeholder="Nombre"
      />
      <input
        class="form__input"
        type="email"
        name="email"
        autocomplete="off"
        placeholder="Email"
        required="true"
      />
      <input
        class="form__input"
        type="text"
        name="asunto"
        autocomplete="off"
        placeholder="Asunto"
      />
      <textarea
        class="form__input"
        name="textarea"
        rows="9"
        required="true"
        placeholder="Mensaje"></textarea>
      <input class="form__input boton__enviar" type="submit" name="enviar" />
    </form>
  </div>
</section>

<style>
  form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  /* Estilos de cada input del form  */
  .form__input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }

  .boton__enviar {
    border: 2px solid #2f2c2c;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255 153 0);
  }
</style>
