<header class="contenedor__fondo--presentacion">
  <nav>
    <ul class="ul-header">
      <li>
        <a href="#inicio">Inicio</a>
      </li>
      <li>
        <a href="#skills">Proyectos</a>
      </li>
      <li>
        <a href="#skills">Skills</a>
      </li>
      <li>
        <a href="#contacto">Contactame</a>
      </li>
    </ul>
  </nav>
</header>

<section class="contenedor__section" id="inicio">
  <h1 class="texto__presentacion">
    Hola, Soy Martin Messner, Desarrollador Web.
  </h1>
  <div class="texto__completo">
    <h2 class="texto__presentacion">De Buenos Aires, Argentina</h2>
    <img src="/argentina.webp" alt="Argentina" title="Argentina" />
  </div>

  <ul class="iconos__presentacion">
    <li>
      <a
        href="https://www.linkedin.com/in/martin-gabriel-messner-98a587217/"
        class="footer__linkedin"
        target="_blank"><i class="fa-brands fa-linkedin iconosfooter"></i></a
      >
    </li>
    <li>
      <a
        href="https://github.com/Martinmessner?tab=repositories"
        class="footer__instagram"
        target="_blank"><i class="fa-brands fa-github iconosfooter"></i></a
      >
    </li>
    <li class="footer__envelope">
      <a href="#contacto"><i class="fas fa-envelope iconosfooter"></i></a>
    </li>
  </ul>
  <div class="texto__presentacion--div">
    <a class="texto__presentacion--pdf" download href="/Martin Messner CV.pdf">
      Descargar CV <i class="fa-solid fa-file-arrow-down"></i></a
    >
  </div>
</section>

<style>
  .texto__completo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
  }
  .texto__completo img {
    width: 3.1em;
  }
  .texto__presentacion {
    line-height: 2;
  }
  .contenedor__fondo--presentacion {
    position: fixed;
    background-color: black;
    width: 100%;
  }
  .ul-header {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 0.7em;
    font-size: 1.3em;
  }
  svg {
    height: 1.4em;
  }

  svg:hover {
    scale: 1.2;
  }
  .iconos__presentacion {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 1em;
  }
  nav > .ul-header > li > a {
    color: #dddddd;
  }
  .iconos__presentacion > li > a {
    color: red;
  }
  a {
    font-size: 1.3em;
  }

  .contenedor__section {
    padding-top: 4em;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .ul-header {
      font-size: 0.9em;
      gap: 1em;
    }
  }
</style>
