<header class="contenedor__fondo--presentacion">
  <section class="contenedor__section">
    <h2 class="texto__presentacion">Hola, Soy Martin Messner</h2>
    <p class="texto__presentacion">Soy Desarrollador Frontend</p>
  </section>

  <ul class="iconos__presentacion">
    <li class="texto__presentacion--div">
      <a class="texto__presentacion--pdf" download href="/Martin Messner CV.pdf"
        >Descargar CV <i class="fa-solid fa-file-arrow-down"></i></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/martin-gabriel-messner-98a587217/"
        class="footer__linkedin"
        target="_blank"><i class="fa-brands fa-linkedin iconosfooter"></i></a
      >
    </li>
    <li>
      <a
        href="https://github.com/Martinmessner?tab=repositories"
        class="footer__instagram"
        target="_blank"><i class="fa-brands fa-github iconosfooter"></i></a
      >
    </li>
    <li class="footer__envelope">
      <a href="mailto:martinmessner95@gmail.com"
        ><i class="fas fa-envelope iconosfooter"></i></a
      >
    </li>
  </ul>
</header>

<style>
  svg {
    width: 22px;
  }
  .iconos__presentacion {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding: 1em;
  }
  a {
    color: red;
    font-size: 1.4em;
  }
  .contenedor__section {
    padding-top: 2em;
    text-align: center;
  }
</style>
