<footer>
  <div class="footer" data-dark>
    <ul class="footer__ul">
      <li>
        <a
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/martin-gabriel-messner-98a587217/"
          class="footer__linkedin"
          target="_blank"><i class="fa-brands fa-linkedin iconosfooter"></i></a
        >
      </li>
      <li>
        <a
          rel="noopener noreferrer"
          href="https://github.com/Martinmessner?tab=repositories"
          class="footer__instagram"
          target="_blank"><i class="fa-brands fa-github iconosfooter"></i></a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  ul {
    list-style: none;
    display: flex;
    padding: 1em 0em;
    justify-content: center;
    gap: 2em;
    font-size: 2em;
  }
  a {
    color: red;
  }
</style>
