<main id="skills" class="contenedor__skills" id="skills">
  <h1 class="contenedor__skills-h1">Habilidades</h1>
  <ul class="contenedor__lenguajes">
    <li class="logo-lenguajes">
      <img
        alt="HTML"
        title="HTML"
        class="logo-lenguajes--img"
        src="/htmll.svg"
      />
      <li class="logo-lenguajes">
        <img alt="CSS" title="CSS" class="logo-lenguajes--img" src="/css.svg" />
      </li>
      <li class="logo-lenguajes">
        <img
          alt="JavaScript"
          title="JavaScript"
          class="logo-lenguajes--img"
          src="/jss.svg"
        />
      </li>
      <li class="logo-lenguajes">
        <img
          alt="React"
          title="React"
          class="logo-lenguajes--img"
          src="/react.png"
        />
      </li>
    </li>

    <li class="logo-lenguajes">
      <img alt="Git" title="Git" class="logo-lenguajes--img" src="/git.svg" />
    </li>
    <li class="logo-lenguajes">
      <img
        alt="GitHub"
        title="GitHub"
        class="logo-lenguajes--img"
        src="/github2.svg"
      />
    </li>

    <li class="logo-lenguajes">
      <img
        alt="Node"
        title="Node"
        class="logo-lenguajes--img"
        src="/node.webp"
      />
    </li>

    <li class="logo-lenguajes">
      <img
        alt="MongoDB"
        title="MongoDB"
        class="logo-lenguajes--img"
        src="/mongodb-ar21.svg"
      />
    </li>
  </ul>

  <style>
    img {
      height: 3em;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2em;
    }

    h1 {
      text-align: center;
      padding: 0.8em;
    }
  </style>
</main>
