<main id="skills" class="contenedor__skills">
  <h1 class="contenedor__skills-h1">Habilidades</h1>
  <ul class="contenedor__lenguajes">
    <div>
      <p>FrontEnd:</p>
      <li class="logo-lenguajes">
        <img
          alt="HTML"
          title="HTML"
          class="logo-lenguajes--img"
          src="/htmll.svg"
        />
        <li class="logo-lenguajes">
          <img
            alt="CSS"
            title="CSS"
            class="logo-lenguajes--img"
            src="/css.svg"
          />
        </li>
        <li class="logo-lenguajes">
          <img
            alt="JavaScript"
            title="JavaScript"
            class="logo-lenguajes--img"
            src="/jss.svg"
          />
        </li>
        <li class="logo-lenguajes">
          <img
            alt="React"
            title="React"
            class="logo-lenguajes--img"
            src="/react.svg"
          />
        </li>
      </li>
    </div>
    <div>
      <p>Utilities</p>
      <li class="logo-lenguajes">
        <img alt="Git" title="Git" class="logo-lenguajes--img" src="/git.svg" />
      </li>
      <li class="logo-lenguajes">
        <img
          alt="GitHub"
          title="GitHub"
          class="logo-lenguajes--img"
          src="/github.svg"
        />
      </li>
      <li class="logo-lenguajes">
        <img
          alt="NPM"
          title="NPM"
          class="logo-lenguajes--img"
          src="/npmm.svg"
        />
      </li>
    </div>
    <div>
      <p>Backend:</p>
      <li class="logo-lenguajes">
        <img
          alt="Node"
          title="Node"
          class="logo-lenguajes--img"
          src="/nodejs.svg"
        />
      </li>
      <li class="logo-lenguajes">
        <img
          alt="PHP"
          title="PHP"
          class="logo-lenguajes--img"
          src="/PHP-logo.svg"
        />
      </li>
    </div>
    <div>
      <p>DBB:</p>
      <li class="logo-lenguajes">
        <img
          alt="MongoDB"
          title="MongoDB"
          class="logo-lenguajes--img"
          src="/mongodb-ar21.svg"
        />
      </li>
    </div>
  </ul>
</main>

<style>
  img {
    height: 50px;
  }
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    background-color: grey;
  }
  h1 {
    text-align: center;
  }
</style>
